html,
body {
  height: 100%;
  font-family: Helvetica;
}

body {
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

.btn {
  color: #333;
  text-shadow: none;
  background-color: #ccc;
  border: .05rem solid #bbb;
  border-radius: 0.5rem;
  font-size:1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover,
.btn:focus{
  background-color: #eee;
  border: .05rem solid #fff;
  font-weight: 600;
}

.cover {
  padding: 0 1.5rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.cover .btn {
  padding: .75rem 1.25rem;
}

#page {
  visibility: hidden;
}

#reveal-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: all 5s; */
}

body {
  background: #fff;
}

body.loaded {
  background-color: rgba(3, 25, 38);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
nav{
    background-color: rgba(3, 25, 38);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
body.loaded #page {
  visibility: visible;
}

body.loaded #reveal-effect {
  opacity: 1;
}

body.revealed #reveal-effect {
  display: none;
}

.cover-heading{
  font-size:3.5rem;
  margin:2rem;
  letter-spacing:12px;
  font-weight:100;
}